body {
    background-color: #dad8d8;
}

.main {
    background-color: #FFF;
    margin: 30px auto;
    width: 400px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(190, 190, 190, 0.8);
}

.filter {
    position: relative;
    padding: 0 10px;
}

#close {
    display: none;
    position: absolute;
    right: 17px;
    top: 7px;
}

.scrool {
    max-height: 370px;
    overflow-y: auto;
    margin: 5px 0;
    scrollbar-gutter: stable;
    padding-left: 10px;
}

.scrool::-webkit-scrollbar {
    width: 10px;
}

.scrool::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: #F5C100;
}

.form {
    padding: 0 10px;
}

table {
    cursor: pointer;
    text-align: start;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}